.ModalPortal {
  position: fixed;
  top:      0;
  left:     0;
  right:    0;
  bottom:   0;
  
  min-height: 1px;
  pointer-events: none;
  outline:        none;
}

.ModalPortalContent {
  pointer-events: auto;
}